<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <script src="{{ 'cart.js' | asset_url }}"></script>
    {{ content_for_header }}


  </head>

  <body>
// Header
    // Breadcrumbs

    
      {{ content_for_layout }}

    // Footer
  </body>
</html>
